body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.nav-link {
  color: black;
}
.navbar-brand {
  color: black;
}

h1 {
  font-size: 20px !important;
}

.flex-container {
  display: flex !important;
}

.btn {
  background-color: red !important;
  color: white !important;
}

select {
  box-shadow: none !important;
  border-color: black !important;
}
